<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
	
	<title>Eat Da Burger</title>
</head>

<body>
	<div class="container">
		<h1>Eat-Da-Burger!</h1>
		<img src="/assets/img/burger.png" width="125px" class="burger_image"><br>
		{{{ body }}}
	</div>

</body>
</html>